@model IEnumerable<Jokes.Models.Joke>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" placeholder="search here..." class="form-control" />
            </div><br />
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
</form>

<h1 class="text-center">List of Jokes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" ><i class="bi bi-plus-circle"></i>&nbsp Create new Jokes</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JokeQuestion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JokeQuestion)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id" class="answer">Answer</a> |
                <a asp-action="Edit" asp-route-id="@item.id"><i class="bi bi-pencil-square btn btn-warning"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.id"><i class="bi bi-archive-fill btn btn-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
